@model IEnumerable<EccommerceV3.Model.EF.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<a href="https://localhost:7136/Products?SearchString=101">Jerseys</a></br>
<a href="https://localhost:7136/Products?SearchString=102">Hats</a></br>
<a href="https://localhost:7136/Products?SearchString=103">Home and Office</a></br>
<a href="https://localhost:7136/Products?SearchString=104">Hoodies</a></br>
<a href="https://localhost:7136/Products?SearchString=105">Sweatshirts</a>

